# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)
city_data_df

                city  driver_count   type
0        Richardfort            38  Urban
1       Williamsstad            59  Urban
2        Port Angela            67  Urban
3         Rodneyfort            34  Urban
4        West Robert            39  Urban
..               ...           ...    ...
115     Bradshawfurt             7  Rural
116     New Ryantown             2  Rural
117   Randallchester             9  Rural
118      Jessicaport             1  Rural
119  South Saramouth             7  Rural

[120 rows x 3 columns]

### Merge the DataFrames

In [51]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [3]:
#  1. Get the total rides for each city type
total_rides_per_citytype = pyber_data_df.groupby(["type"]).count()["ride_id"]
# total_rides_per_citytype

In [4]:
# 2. Get the total drivers for each city type
total_drivers_per_citytype = city_data_df.groupby(["type"]).sum()["driver_count"]
# total_drivers_per_citytype

In [5]:
#  3. Get the total amount of fares for each city type
total_fares_per_citytype = pyber_data_df.groupby(["type"]).sum()["fare"]
# total_fares_per_citytype

In [6]:
#  4. Get the average fare per ride for each city type. 
avg_fare_per_ride_citytype = pyber_data_df.groupby(["type"]).mean()["fare"]
# avg_fare_per_ride_citytype

In [7]:
# 5. Get the average fare per driver for each city type. 
avg_fare_per_driver = pyber_data_df.groupby(["type"]).sum()["fare"] / total_drivers_per_citytype
# avg_fare_per_driver

In [67]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df = pd.DataFrame({
    "Total Rides": total_rides_per_citytype, 
    "Total Drivers": total_drivers_per_citytype, 
    "Total Fares": total_fares_per_citytype, 
    "Average Fare Per Ride": avg_fare_per_ride_citytype,
    "Average Fare Per Driver": avg_fare_per_driver})
# pyber_summary_df.head()
# pyber_summary_df.dtypes

In [68]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None
pyber_summary_df.head()

,Total Rides,Total Drivers,Total Fares,Average Fare Per Ride,Average Fare Per Driver
Rural,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,16.571468

##### you are here - everything above this line looks good

In [66]:
#  8. Format the columns.
# 5 Lines 
pyber_summary_df["Total Rides"] = pyber_summary_df["Total Rides"].map("{:,}".format)
pyber_summary_df["Total Drivers"] = pyber_summary_df["Total Drivers"].map("{:,}".format)
pyber_summary_df["Total Fares"]= pyber_summary_df["Total Fares"].map("${:,.2f}".format)
pyber_summary_df["Average Fare Per Ride"] = pyber_summary_df["Average Fare Per Ride"].map("${:,.2f}".format)
# pyber_summary_df["Total Drivers"] = pyber_summary_df["Total Drivers"].map("{:,}".format)

# map("${:,.2f}".format)

pyber_summary_df.head()

ValueError: Cannot specify ',' with 's'.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [12]:
# 1. Read the merged DataFrame (call the one from deliv 1 - pyber_data_df )
pyber_data_df.sample(10)

,city,date,fare,ride_id,driver_count,type
2180,Myersshire,2019-04-17 23:24:53,20.51,4670054095602,19,Suburban
2163,Bethanyland,2019-03-23 21:53:17,40.07,635880709905,22,Suburban
620,West Christopherberg,2019-03-07 20:09:48,32.27,2175995190390,32,Urban
1420,West Angela,2019-04-11 06:59:17,29.06,713854282118,48,Urban
806,Christopherfurt,2019-03-25 17:11:15,7.19,6892683521361,41,Urban
1316,Richardfort,2019-04-04 15:04:56,16.35,6077906760851,38,Urban
1760,Colemanland,2019-03-02 02:11:21,36.81,116923856607,23,Suburban
11,West Angela,2019-01-12 01:45:27,26.86,4820052223501,48,Urban
1674,New Shannonberg,2019-04-20 02:52:54,30.82,6829641849335,20,Suburban
1580,West Ericstad,2019-01-21 12:14:36,8.07,7506043971589,25,Urban

In [13]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [14]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()
# sum_fare_by_type.pivot(index="date", ___MORE HERE)

In [15]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [16]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.
# sum_fare_by_type_pivot.loc['2019-01-01':'2019-04-28']
# use datetime method from class
# pd.to_datetime('stuff goes here!')

In [17]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [18]:
# 7. Check that the datatype for the index is datetime using df.info()

In [19]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [20]:
# 9. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')